.login-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  font-size: 16px;
}

.login-button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px; /* Adjust margin as needed */
}

.login-button {
  width: 100%; /* Adjust width to leave space between buttons */
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}
